footer {
  background: #fff;
  padding: 6% 4%;
  color: $text-medium;

  .top {
    padding: 0 4%;
    margin-bottom: 50px;

    .links {
      width: 75%;

      .col1,
      .col2,
      .col3 {
        display: flex;
        flex-direction: column;
        margin-right: 50px;
        padding-right: 5%;
        font-size: 1.25em;
      }
    }
    .social {
      height: 50px;
      display: flex;
      width: 50%;
      justify-content: flex-end;
      a {
        display: block;
        width: 18px;
        height: 18px;
        margin: 1.25%;
      }
      .fb {
        background: url('../img/fb.svg') no-repeat center center;
      }
      .insta {
        background: url('../img/insta.svg') no-repeat center center;
      }
      .pin {
        background: url('../img/pin.svg') no-repeat center center;
      }
      .twitter {
        background: url('../img/twitter.svg') no-repeat center center;
      }
    }
  }

  .bottom {
    justify-content: space-between;
    padding: 0 4%;

    .payment {
      width: 50%;
      height: 20px;
      background: url('../img/cards.svg') no-repeat left center;
    }

    .smallprint {
      font-size: .8rem;
      a {
        font-weight: 900;
      }
    }
  }


}
