section.quickball {
  position: relative;
  padding: 5%;

  .top {
    width: 100%;
    align-items: center;

    p {
      color: $goldgrey;
      font-family: 'Muli', sans-serif;
      font-weight: 900;
      letter-spacing: 2px;
      text-transform: uppercase;
      font-size: .8rem;
      margin-right: 50px;
    }

    span.rule {
      width: 230px;
      height: 2px;
      background: $goldgrey;
      margin-right: 50px;
    }

    img.cycle-one {
      width: 95px;
      height: 95px;
    }
  }

  .col-right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 350px;
  }

  .quickball-img {

    width: 550px;
    height: 500px;
    position: absolute;
    top: 5%;
    left: 0%;

  }

}
